<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>hey <%=2*10%> </h1>
    <script src="/javascripts/script.js"></script>
    <div class="container">
        <h1>Welcome to My Website</h1>
        <p>This is a basic container.</p>
    </div>
    <div class="container">
        <h1>Welcome to My Website</h1>
        <p>This is a basic container.</p>
    </div>

    

</body>
</html> 